absl-py==0.8.0
cycler==0.10.0
gast==0.3.2
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
matplotlib==3.0.0
numpy==1.15.3
opencv-python==4.2.0.32
pyparsing==2.2.2
python-dateutil==2.7.3
scikit-learn==0.20.2
scipy==1.2.0
six==1.11.0
sklearn==0.0
tensorflow-estimator==1.14.0
wrapt==1.11.2
